.TableContainer {
  border: 2px solid black;
  width: 500px;
  height: 500px;
  margin: 40px;
  border-collapse: collapse;
}

.TableCell {
  border: 1px solid lightgrey;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.Input {
  text-align: right;
  padding-right: 35px;
  background-color: grey;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.Orange {
  background-color: lightsalmon;
}
